

# Build
target/

# Rust
Cargo.lock

# Logi emulatora
/log/
*.log
log*.txt

# ROM-y Game Boy
*.gb
*.gbc
*.gba

# Save RAM
*.sav

# Savestates
*.state
*.sst
*.savestate

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.VC.db
*.VC.opendb
.vscode/

# Windows
Thumbs.db
Desktop.ini

# IDE / system
*.swp
*.swo